@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-navegavel a {
    padding: 12px;
    color: white;
    font-weight: bold;
}

#cart-modal {
    z-index: 1000;
}

html, body {
    scroll-behavior: smooth;
}
